body {
    background-color: rgb(243, 214, 212);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.navbar{
    background-color: rgb(250, 175, 210);
}
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    background-color: rgb(250, 175, 210);
}
.form-check {
    margin-bottom: 10px;
  }
  .social-icon {
    margin: 0 10px;
    color: #333;
  }

.social-icon:hover {
    color: #007bff;
}
.c-img{
    height: 250px;
    object-fit: cover;
}
.card-img-top{
    height: 200px;
    width: 100v;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
  }
  .btn {
    align-self: flex-end;
  }